<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="applicationName"
                    source="spring.application.name" defaultValue="marketflow-lab"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>{"timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}","level":"%level","service":"${applicationName}","thread":"%thread","logger":"%logger{36}","correlationId":"%X{correlationId:-N/A}","userId":"%X{userId:-N/A}","orderId":"%X{orderId:-N/A}","clientId":"%X{clientId:-N/A}","message":"%replace(%msg){'[\r\n]+',' '}"}%n</pattern>
        </encoder>
    </appender>

    <appender name="AUDIT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>{"timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}","level":"AUDIT","service":"${applicationName}","correlationId":"%X{correlationId:-N/A}","userId":"%X{userId:-N/A}","orderId":"%X{orderId:-N/A}","event":"%replace(%msg){'[\r\n]+',' '}"}%n</pattern>
        </encoder>
    </appender>

    <logger name="MARKETFLOW_AUDIT" level="INFO" additivity="false">
        <appender-ref ref="AUDIT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
